<ion-view>
    <ion-nav-title>Confirm - Order {{orderCart.id}}</ion-nav-title>
    <ion-content>
        <form class="list">
            <ion-list>
                <ion-item class="item-icon-left">
                    <i class="icon ion-android-cart"></i> Food
                    <span class="badge badge-balanced">{{orderCart.order.food | currency }}</span>
                </ion-item>
                <ion-item class="item-icon-left">
                    <i class="icon ion-gear-a"></i> Tax
                    <span class="badge badge-balanced">{{orderCart.order.tax | currency }}</span>
                </ion-item>
                <ion-item class="item-icon-left item-divider">
                    <i class="icon ion-ios-list"></i> Total
                    <span class="badge badge-balanced">{{orderCart.order.total | currency }}</span>
                </ion-item>
            </ion-list>
            <a ng-click="doConfirm()" class="button button-block button-positive icon ion-ios-checkmark-outline"> Confirm</a>
        </form>
    </ion-content>
</ion-view>