<ion-list>
  <ion-item-divider *ngIf="showTitle">{{cart?.name}}</ion-item-divider>
  <ion-item lines="full">
    <ion-icon slot="start" name="pricetags-outline"></ion-icon>
    <ion-label>
      <h3>Items</h3>
    </ion-label>
    <ion-badge slot="end" color="success">{{cart?.itemCost || 0 | currency:currency}}</ion-badge>
  </ion-item>
  <ion-item lines="full">
    <ion-icon slot="start" name="cog-outline"></ion-icon>
    <ion-label>
      <h3>Tax</h3>
    </ion-label>
    <ion-badge slot="end" color="success">{{cart?.tax || 0 | currency:currency}}</ion-badge>
  </ion-item>
  <ion-item lines="full" color="light">
    <ion-icon slot="start" name="cart-outline"></ion-icon>
    <ion-label>
      <h3>Total</h3>
    </ion-label>
    <ion-badge slot="end" color="success">{{cart?.total || 0 | currency:currency}}</ion-badge>
  </ion-item>
  <ion-button *ngIf="showButtons" expand="block" color="primary" (click)="callConfirm()">
    <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
    Confirm
  </ion-button>
</ion-list>