<ion-view>
    <ion-nav-title>Payment Info - Order {{orderCart.id}}</ion-nav-title>
    <ion-content>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="payment.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Card</span>
                    <input type="text" ng-model="payment.card" placeholder="xxxx-xxxx-xxxx-xxxx">
                </label>
                <label class="item item-input">
                    <span class="input-label">Expiry Date</span>
                    <input type="month" ng-model="payment.expiry" placeholder="mm/yy">
                </label>
                <label class="item item-input">
                    <span class="input-label">CVC</span>
                    <input type="text" ng-model="payment.cvc" placeholder="xxx" focus-me="payment.getcvc">
                </label>
                <ion-item ng-if="0 < orderCart.entries.length" class="item-icon-left item-divider">
                    <i class="icon ion-android-cart"></i> Total
                    <span class="badge badge-balanced">{{orderCart.total | currency }}</span>
                </ion-item>
            </ion-list>
            <a ng-click="loadPayment(payment)" class="button button-stable button-block button-positive icon ion-ios-pricetags"> Continue</a>
        </form>
    </ion-content>
</ion-view>