<ion-view>
    <ion-nav-title>New Order - {{orderCart.id}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <a ng-show="0 < orderCart.entries.length" ng-click="orderCart.clear()" class="button button-icon icon ion-trash-a" title="Clear cart"></a>
        <a ng-show="0 < orderCart.entries.length" ng-click="doPayment()" class="button button-icon icon ion-card" title="Continue to payment"></a>
    </ion-nav-buttons>
    <ion-content>
        <a href="#/tab/select-menu-item" class="button button-stable button-block button-positive icon ion-android-add-circle"> Add new item</a>
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="entry in orderCart.entries">
                <img ng-src="{{entry.item.image}}">
                <h2>{{entry.item.name}}</h2>
                <p>{{entry.item.price}}</p>
                <span class="badge badge-balanced">{{entry.qty}}</span>
            </ion-item>
        </ion-list>
        <ion-item ng-if="0 < orderCart.entries.length" class="item-icon-left item-divider">
            <i class="icon ion-android-cart"></i> Total
            <span class="badge badge-balanced">{{orderCart.total | currency }}</span>
        </ion-item>
        <a ng-show="0 < orderCart.entries.length" ng-click="doPayment()" class="button button-stable button-block button-positive icon ion-card" title="Continue to payment"> Payment</a>
        <a ng-show="0 < orderCart.entries.length" ng-click="orderCart.clear()" class="button button-stable button-block button-assertive icon ion-trash-a" title="Clear cart"> Clear Cart</a>
    </ion-content>
</ion-view>