<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Orders" icon-off="ion-coffee" icon-on="ion-coffee" href="#/tab/orders">
    <ion-nav-view name="tab-orders"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Menu" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Sales" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/sales">
    <ion-nav-view name="tab-sales"></ion-nav-view>
  </ion-tab>
</ion-tabs>
